<div class="content">
    <div class="row title">

        <span>
            <i class="fas fa-heart" id="heart"></i>
            Pokers
        </span>
        <span>
            <button class="btn-primary">
                Criar novo poker
            </button>
        </span>
    </div>
    <div class="poker-list">
        <div class="poker-card">
            <div class="row">
                <i class="fas fa-calendar"></i>
            </div>
        </div>
        <div class="poker-card finished">
            <div class="row">
                <i class="fas fa-calendar"></i>
            </div>
        </div>
    </div>
</div>