.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 100px 4rem;
  justify-content: center;
  align-items: center;
  .form-container {
    * {
      box-sizing: border-box;
    }
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: auto;
    background-color: white;
    min-height: 70%;
    width: 50%;
    border-radius: 15px;
    padding: 20px 25px ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    .row {
      width: 100%;
      align-items: center;
      input {
        width: 100%;
        margin-bottom: 10px;
        height: 30px;
        border: none;
        border-bottom: 1px solid var(--primary);
        color: var(--primary);
        outline: none;
      }
      label {
        font-size: 15px;
      }
    }
  }
}
.back {
  font-size: 20px;
  cursor: pointer;
  color: var(--primary);
}
.f-center {
  justify-content: center;
}
.f-center.f-column {
  align-items: center;
  flex-direction: column;
  p {
    margin-bottom: 0.1rem !important;
  }
}
.title {
  color: #7550cb;
  font-size: 20px;
}
.sub-title {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
.area-padding {
  padding-bottom: 5%;
}
.btn-l {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}
.font-l {
  font-weight: normal;
}