<div class="container-fluid" id="nav">
    <div id="brand" [routerLink]="['/']">
        <i class="fas fa-dice fa-5x"></i>
        <p>Daily Sort</p>
    </div>
    <div id="actions">
        <div class="action">
            <a class="action-link" routerLink="sort/single"
               routerLinkActive="active">
                <i class="fas fa-dice" routerLinkActive="active"></i> Sorteio
            </a>
        </div>
        <div class="action">
            <a class="action-link" routerLink="scrun-poker"
               routerLinkActive="active">
                <i class="fa-solid fa-heart" routerLinkActive="active"></i> Scrum poker
            </a>
        </div>
    </div>
</div>
