.container-fluid {
    padding: 10px 0;
}
#nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 3.1em;
    #brand {
        width: 100%;
        min-height: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-size: 30px;
        }
    }
    .nav-itens {
        max-height: 60%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: column;
        .nav-item {
            align-self: flex-start;
            height: 8%;
            cursor: pointer;
            margin-bottom: 5px;
            padding: 10px 0 10px 10px;
            background: var(--primary);
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 10px;
            p {
                margin: 0;
            }
        }

    }
    #actions {
        padding-top: 2em;
        background:transparent; 
        display: flex;
        height: 47em;
        overflow-y: auto;
        flex-direction: column;
        .action {
            margin-bottom: 0;
            height: 10%;
            align-items: center;
            justify-content: left;
            display: flex;
            width: 100%;
            a {
                i {
                    margin-right: 10px;
                    font-size: 24px;
                }
                i.active {
                    color: #7550cb;
                }
                height: 100%;
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;
                width: 100%;
                padding-left: 10px;
            }
        }
        .action:has(a.active),
        .action:hover {
            cursor: pointer;
        }
        a.active {
            background: #000000;
        }
     } 
}
