.container-fluid {
    display: flex;
    padding: 0;
    height: 100vh;
    #side-content {
        background: var(--dark);
        border-left: 10px solid #6f4dc0;
        height: 100%;
        padding: 0;
    }
    #content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        #router-content {
            height: 94%;
            width: 100%;
        }
    }
}