<div id="actions" [class.centered]="!sortStarted">
    <button class="btn btn-success" *ngIf="!sortStarted" (click)="sort()">
        <i class="fas fa-dice" ></i>
        Iniciar Sorteio
    </button>
    <button class="btn btn-dark" *ngIf="participants.length <= 0" (click)="reset()">
        Reiniciar
    </button>
    <button class="btn btn-dark" *ngIf="sortStarted && participants.length > 0" (click)="sort()">
        Próximo
        <i class="fas fa-chevron-right" ></i>
    </button>
</div>
<div id="card-zone" *ngIf="showCards" (click)="slide($event)">
    <section class="col col-md-1"  *ngFor="let participant of presenters">
        <div class="card" id="admin" *ngIf="presenters.indexOf(participant) == 0;">
            <div class="card-title">
                <i class="fas fa-diamond fa-3x"></i>
                <p>1ª Apresentação</p>
            </div>
            <div class="card-body">
                <p>{{participant.name}}</p>
            </div>
        </div>
        <div class="card"  *ngIf="presenters.indexOf(participant) != 0;">
            <div class="card-title">
                <i class="fas fa-heart fa-3x"></i>
                <p>{{presenters.indexOf(participant) + 1}}ª Apresentação</p>
            </div>
            <div class="card-body">
                <p>{{participant.name}}</p>
            </div>
        </div>
    </section>
</div>
