<div class="row" *ngIf="showSpin">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#6610f2" type = "ball-zig-zag" [fullScreen]="false"><p style="color: #fff" > Sorteando</p></ngx-spinner>
</div>
<div class="row" id="card-zone" *ngIf="showCards" (click)="slide($event)">
    <section class="col col-md-1"  *ngFor="let participant of participants">
        <div class="card" id="admin" *ngIf="participants.indexOf(participant) == 0;">
            <div class="card-title">
                <i class="fas fa-user-circle fa-3x"></i>
                <p>Condutor</p>
            </div>
            <div class="card-body">
                <p>{{participant.name}}</p>
            </div>
        </div>
        <div class="card"  *ngIf="participants.indexOf(participant) != 0;">
            <div class="card-title">
                <i class="fas fa-user-circle fa-3x"></i>
                <p>{{participants.indexOf(participant) + 1}}ª Apresentação</p>
            </div>
            <div class="card-body">
                <p>{{participant.name}}</p>
            </div>
        </div>
    </section>
</div>
<div class="row" id="actions">
    <button class="btn btn-success" *ngIf="!sortStarted" (click)="sort()">
        <i class="fas fa-dice" ></i>
        Iniciar Sorteio
    </button>
    <button class="btn btn-dark" *ngIf="sortStarted" (click)="sort()">
        <i class="fas fa-dice" ></i>
        Novo Sorteio
    </button>
</div>
